h2 {
	margin: 15px 0;
}
p {
	margin: 20px 20%;
	font-size: 18px;
}
img {
	height: 30%;
}
.sprite {
	height: 20%;
}
select {
	margin: 10px 0;
}
body {
	position: fixed;
	height: 100vh;
	width: 100vw;
}
.container-fluid,
.row,
.col-sm {
	height: 100vh;
	padding: 0;
}
.side-col {
	padding-top: 10%;
}
.mid-col {
	background-color: cadetblue;
}
.mid-col p {
	font-size: 24px;
}
h1 {
	padding-top: 10%;
}
@media (max-width: 768px) {
	.mid-col {
		width: 100%;
	}
}
