* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	text-align: center;
	flex-direction: row;
	align-items: center;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container {
	width: 33.3%;
	height: 100vh;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
}
img {
	max-width: 300px;
	padding-top: 50px;
	
}
/* #display-img{
	border: solid 2px #111;
	border-radius: 5%;
} */
.selection {
	width: 300px;
	padding-top: 0;
}
.column{
	flex-direction: column;
}

#col-1 p, #col-3 p{
	max-width: 350px;
	margin: auto;
}
#col-2{
	background-color: cadetblue;
	justify-content: start;
}
#display-p{
	max-width: 250px;
	margin: auto;
	font-size: 24px;
}

#col-2 h1{
	padding-top: 50px;
	padding-bottom: 10px;
}
#col-2 select{
	min-width: 50%;
	text-align: center;
	font-family: sans-serif;
}
#col-2 .description{
	padding-top: 20px;
}
#col-2 h2{
	padding: 10px 0px
}
#col-3 {
	
}
/* media queries such that red and bill are hidden */
@media(max-width: 768px){
	#col-1, #col-3{
		display: none;
	}
	#col-2{
		width: 100%;
	}
	
}