* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	text-align: center;
	flex-direction: column;
	align-items: center;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
select {
	min-width: 50%;
	text-align: center;
	font-family: sans-serif;
}
.container {
	padding: 50px;
}
h1 {
	padding-bottom: 10px;
}
img {
	max-width: 300px;
	padding-top: 50px;
}
